body {
  background-color: #f9f9f9;
  color: #333333;
  font-family: sans-serif;
  width: 980px;
  margin: 0 auto;
}

main > h1,
main > h2 {
  text-align: center;
  margin-top: 2.5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

li {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.5rem;
}

.skills {
  margin-bottom: 10px;
}
